<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>      <!-- listTitle initilize dekat app.js-->
  </div>

  <div class="box">
      <% for (var i=0; i<newListItems.length; i++){  %>   <!--newListItems.length is array -->
        <div class="item">
          <input type="checkbox">
          <p><%= newListItems[i] %></p>
        </div>
      <% } %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off"> <!--autocomplete="off" is to prevent suggestion in input box -->
        <button type="submit" name="list" value=<%= listTitle %>>+</button>    <!--list(name) is used to the /work route-->
      </form>

  </div>

<%- include("footer") -%>
